@import url('https://fontsfonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;;
}

:root {
    --background: #723d46;
    --button: #7f5539;
    --button-hover: #472d30;
    --overlay : #a3b18a;
    --form-background: #e6ccb2;
    --label: #472d30;
    --input: #723d46;
    --input-border: #9c6644;
}

body {
    background-color: var(--background);
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container {
    position: relative;
    box-shadow: 0 0 25px -5px;
    border-radius: 10px;
    width: 700px;
    min-width: 550px;
    height: 500px;
    margin: auto;
    overflow: hidden;
}
.form-container{
    background-color: var(--form-background);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    width: 50%;
    height: 100%;
    align-items: center;
    position: absolute;
}

.sign-up-container {
    left: 0;
}

.sign-in-container {
    right: 0;
}



.form-container > h1 {
    text-align: center;
    color: var(--label);
}

/* form group */
.form-group {
    display: flex;
    flex-direction:  column;
    margin:  0px 30px;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: smaller;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: solid 1px var(--button-hover);
    width: 50%;
}

.social-container > a i {
    color: var(--label);
}


.form-group > label {
    font-weight: bolder;
    font-size: medium;
    color: var(--label);
}
.form-group > input {
    outline: none;
    border: none;
    padding: 5px 5px;
    font-size:medium;
    font-weight: 600;
    color:  var(--input);
    background-color: var(--form-background);
    border-bottom: solid 2px var(--input-border);
    transition: 0.4s ease-in-out;
}
.form-group > input:focus, input:hover{
    opacity: 1;
    border-bottom: solid 2px var(--button-hover);
}

.form-container > a {
    font-size: 14px;
    text-align: right;
    padding: 0 20px;
    color: var(--label);
}

.form-container > button {
    border: solid 1px;
    border-radius: 10px;
    padding: 15px 10px;
    font-weight: bolder;
    font-size: larger;
    background-color: var(--button);
    color: white;
    border: none;
    margin-top: 35px;   
    width: 70%;
    transition: 0.4s ease-in-out;
}
.form-container > button:hover {
    outline: none;
    cursor: pointer;
    background-color: var(--button-hover);
}

/* Overlay */
.overlay-container {
    position: absolute;
    background-color: #5c8511;
    width: 50%;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
}

.overlay {
    width: 200%;
    height: 100%;
    background-color: #472d30;
    position: relative;
    left: -100%;
}

.overlay-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.overlay-left {
    left: 0;
    background-color: white;
}


.overlay-right {
    right: 0;

}

.overlay-panel > button {
    border: solid 1px;
    border-radius: 10px;
    padding: 15px 10px;
    font-weight: bolder;
    font-size: larger;
    background-color: var(--button);
    color: white;
    border: none;
    margin-top: 35px;   
    width: 70%;
    transition: 0.4s ease-in-out;
}
.overlay-panel > button:hover {
    outline: none;
    cursor: pointer;
    background-color: var(--button-hover);
}