@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');

:root {
    --Turquoise: #4cbfa6;
    --SoftLilac: #f6ebf4;
    --Purple: #482673;
    --Orchid: #ed0b70;
    --DigiDenim: #301008;
    --background:#fbefcc;
    --formColor: white;
    --button: #f4a688 ;
    --buttonHover: #e0876a;
    --label: #674d3c;
}

* {
    font-family: 'Poppins', sans-serif;;
}

body {
    background-color: var(--background) ;
}

.card{
    background-color: white;
    padding: 15px 20px;
    width: 50vw;
    max-width: 350px;
    min-width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--formColor);
    border-radius: 5px;
    box-shadow: 1px 0 15px -5px;
    outline: none;
    display: block;
    transition: 1s ease-in-out;
}

.card.active {
    display: block;
    transform: translate(-50%,-50%);
    opacity: 1;
}

.card.deactive {
    transform: translate(-150%, -50%);
    opacity: 0;
    display: block;
    
}

.step-title {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--label);
    text-transform: uppercase;
    background-color: var(--button);
    border-radius: 5px;
    padding: 0 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 5px;
}

.form-group:last-child{
    margin: 0;
}

.form-group > input {
    padding: 15px 20px;
    border-radius: 5px;
    border: solid 1px grey;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    transition: 0.7s;
}
.form-group > input:hover{
    
    border: solid 1px black;
}

.form-group > label {
    font-size: 15px;
    font-weight: bold;
    color: var(--label);
    font-weight: bolder;
}
.card > .form-group:last-child {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.form-group > button {
    width: 50%;
    height: 52.4px;
    font-size: 15px;
    font-weight: bolder;
    background-color: rgba(244, 166, 136,.9);
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    color: var(--label);
    border: none;
    position: relative;
    cursor:pointer;
}
.form-group > button > div{
    all: inherit;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    background-color: var(--buttonHover);
    width: 0;
    padding: 0;
    z-index: -1000;
}

.form-group > button:hover > div {
    background-color: var(--buttonHover);
    width: 100%;
}

.card:first-child > .form-group:last-child > button {
    width: 100%;
}
