@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100;1,300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --background: #2a9d8f;
    --form-background: #343a40; 
    --label: #6c757d;
    --title: white;
    --input-color: white;
    --input-backgrounds: #6c757d;
    --button: #2a9d8f;
    --button-label: white;
    --button-hover: #2a9d90a8;
    --input-hover: #6c757d86 ;
}


.header{
    position: fixed;
    z-index: 1;
    background-color: var(--form-background);
    width: 100%;
    height: 60px;    
    padding: 0 50px;
    box-shadow: 0 0 5px 0;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3vw;
}

.navbar a, label {
    color: white;   
    transition: all 0.2s ease-in-out; 
}

.page-logo {
    font-size: 40px;
}

.navbar a:hover, label:hover {
    color:  var(--background);
}
.profile-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60px;
}

#profile-avatar {
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

#profile-avatar:hover {
    color: white;
    background-color: var(--button-hover);
}


/* sub navbar */

.navbar-group:last-child {
    position: relative;
}



.sub-navbar {
    display: none;
    position: absolute;
    background-color: var(--form-background);
    top: 100%;
    left: 0;
    width: 400px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-navbar .profile-group {
    padding: 0 15px;
}

/* page  */
.page-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--background);
}

/* Container */
.container {
    transform: translateY(5%);
    background-color: var(--form-background);
    margin: auto;
    min-height: 300px;
    width: 50vh;
    min-width: 300px;
    border-radius: 25px;
    box-shadow: 0 10px 60px -10px;
}

/* form group */
.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container > .title {
    width: fit-content;
    margin: 5% auto ;
    color: var(--title);
    border-bottom: solid;
}

.form-group{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 10px;
}

.form-container label {
    color: var(--label);
    font-size: small;
    text-transform: uppercase;

}
.form-container input {
    border-radius: 10px;
    border: none;
    font-size: medium;
    font-weight: 600;
    padding: 3% 15px;
    color: var(--input-color);
    outline: none;
    background-color: var(--input-backgrounds);
    transition:  all 0.4s;
}

.form-container input:hover, input:focus {
    background-color: var(--input-hover);
}

/* submit button */
.form-container .submit {
    width: 80%;
    height: 6vh;
    min-height: 35px;
    
    border-radius: 5px 5px 15px 15px;
    margin: 2vh auto;
    margin-bottom: 10%;
    outline: none;
    border:  none;
    background-color: var(--button);
    font-weight: 800;
    color: var(--button-label);
    transition: all 0.4s ease-in-out;
}

.form-container .submit:hover{
    cursor: pointer;
    background-color: var(--button-hover);

}

.form-container span {
    font-size: small;
    color: var(--button);
}

.content-container {
    height: 600px;
}